Audit Server Extensions for TLS 1.3

## **Problem:**
Make sure we read and write extensions in the right places

- [x] server_name
- [x] max_fragment_length
- [x] alpn 
- [ ] status request
- [ ] sct_list
- [ ] session_ticket?
- [ ] reneg_info?
- [ ] nst
- [ ] supported_version
- [ ] keyshare

## **Proposed Solution:**
### Part A: Extensions that should not longer be sent in TLS 1.3 Server Extensions
#### Step 0: check that tests covered these extensions (otherwise add them) [#1644]
- [x] server_name
- [x] mfl
- [x] alpn
- [x] sct
- [x] status_request

#### Step 1: stop sending extensions that are not allowed in SH in TLS 1.3 [#1644]
- [x] server_name
- [x] mfl
- [x] alpn
- [x] sct
- [x] status_request

#### Step 2: Ensure extensions get sent in the new extensions destinations [#1672], [#1695]
- [x] server_name -> [EE]
- [x] mfl -> [EE]
- [x] alpn -> [EE]
- [x] sct -> [CR}
- [x] status_request [CR]

#### Step 3: Error when above is received in ServerHello in TLS 1.3
- [x] server_name
- [x] mfl
- [x] alpn
- [x] sct
- [x] status_request

#### Step 4: Refactor using defined lists
- [ ] follow a s2n_extension struct with { .send_size, .send, .recv }
- [ ] use list for server ext send
- [ ] use list for server ext recv
- [ ] use list for encrypted ext recv
- [ ] use list for encrypted ext send


```
   +--------------------------------------------------+-------------+
   | Extension                                        |     TLS 1.3 |
   +--------------------------------------------------+-------------+
   | server_name [RFC6066]                            |      CH, EE |
   |                                                  |             |
   | max_fragment_length [RFC6066]                    |      CH, EE |
   |                                                  |             |
   | status_request [RFC6066]                         |  CH, CR, CT |
   |                                                  |             |
   | supported_groups [RFC7919]                       |      CH, EE |
   |                                                  |             |
   | signature_algorithms (RFC 8446)                  |      CH, CR |
   |                                                  |             |
   | use_srtp [RFC5764]                               |      CH, EE |
   |                                                  |             |
   | heartbeat [RFC6520]                              |      CH, EE |
   |                                                  |             |
   | application_layer_protocol_negotiation [RFC7301] |      CH, EE |
   |                                                  |             |
   | signed_certificate_timestamp [RFC6962]           |  CH, CR, CT |
   |                                                  |             |
   | client_certificate_type [RFC7250]                |      CH, EE |
   |                                                  |             |
   | server_certificate_type [RFC7250]                |      CH, EE |
   |                                                  |             |
   | padding [RFC7685]                                |          CH |
   |                                                  |             |
   | key_share (RFC 8446)                             | CH, SH, HRR |
   |                                                  |             |
   | pre_shared_key (RFC 8446)                        |      CH, SH |
   |                                                  |             |
   | psk_key_exchange_modes (RFC 8446)                |          CH |
   |                                                  |             |
   | early_data (RFC 8446)                            | CH, EE, NST |
   |                                                  |             |
   | cookie (RFC 8446)                                |     CH, HRR |
   |                                                  |             |
   | supported_versions (RFC 8446)                    | CH, SH, HRR |
   |                                                  |             |
   | certificate_authorities (RFC 8446)               |      CH, CR |
   |                                                  |             |
   | oid_filters (RFC 8446)                           |          CR |
   |                                                  |             |
   | post_handshake_auth (RFC 8446)                   |          CH |
   |                                                  |             |
   | signature_algorithms_cert (RFC 8446)             |      CH, CR |
   +--------------------------------------------------+-------------+
```

superseds #1243 #1316


[//]: #  (NOTE: If you believe this might be a security issue, please email aws-security@amazon.com instead of creating a GitHub issue. For more details, see the AWS Vulnerability Reporting Guide: https://aws.amazon.com/security/vulnerability-reporting/ )


This was addressed by https://github.com/awslabs/s2n/issues/1751