Implement the max_fragment_length extension

Implementing the max_fragment_length extension [1] would be helpful for some IoT devices which are running with low resources.

[1] https://tools.ietf.org/html/rfc6066#section-1.1

Hi @muellerc, I am currently investing ways to implement the max_fragment_length extension in S2N. Will update the issue with more details on implementation plan soon.

**Proposed Changes**

Client can explicitly define and request the max fragmentation size with s2n API:

**s2n_connection.c**
`int s2n_connection_set_max_frag(struct s2n_connection *conn, unsigned char mfl_code);
`
**s2n_tls_parameters.h**
```
/* RFC 6066 section 4, see also mfl_code_to_length in s2n_tls.c  */
	#define S2N_TLS_MAX_FRAG_LEN_EXT_NONE           0   /*!< don't use this extension   */
	#define S2N_TLS_MAX_FRAG_LEN_512            1   /*!< MaxFragmentLength 2^9      */
	#define S2N_TLS_MAX_FRAG_LEN_1024           2   /*!< MaxFragmentLength 2^10     */
	#define S2N_TLS_MAX_FRAG_LEN_2048           3   /*!< MaxFragmentLength 2^11     */
	#define S2N_TLS_MAX_FRAG_LEN_4096           4   /*!< MaxFragmentLength 2^12     */
	#define S2N_TLS_MAX_FRAG_LEN_INVALID        5   /*!< first invalid value        */

```
**s2n_tls.c**
```
/*
 * Convert max_fragment_length codes to length.
 * RFC 6066 says:
 *    enum{
 *        2^9(1), 2^10(2), 2^11(3), 2^12(4), (255)
 *    } MaxFragmentLength;
 * and we add 0 -> extension unused
 */
static unsigned int mfl_code_to_length[S2N_TLS_MAX_FRAG_LEN_INVALID] =
{
    S2N_TLS_MAXIMUM_FRAGMENT_LENGTH,    /* S2N_TLS_MAX_FRAG_LEN_EXT_NONE */
    512,                    /* S2N_TLS_MAX_FRAG_LEN_512  */
    1024,                   /* S2N_TLS_MAX_FRAG_LEN_1024 */
    2048,                   /* S2N_TLS_MAX_FRAG_LEN_2048 */
    4096,                   /* S2N_TLS_MAX_FRAG_LEN_4096 */
};
```

TLS Max Fragmentation Extension will be checked at, as we currently do today, [s2n_server_extensions_recv()](https://github.com/awslabs/s2n/blob/46d481c8c7281eeff0524bcb8c46394da57f6dad/tls/s2n_server_extensions.c#L137) of `s2n_server_extensions.c ` during the initial server_hello handshake. 

`case TLS_EXTENTION_MAX_FRAG:` inside `s2n_server_extensions_recv()` will call `s2n_recv_max_frag()` to actually set requested TLS max fragmentation length and replace the default `S2N_TLS_MAXIMUM_FRAGMENT_LENGTH` in S2N server. 

**s2n_server_extensions.c**
`int s2n_recv_max_frag(struct s2n_connection *conn, struct s2n_stuffer *extension)
`
When past the handshake phase, max fragment length will be checked and ensured in s2n_send and s2n_recv on the same connection.

I have several open questions that I plan to discuss and answer during the process of implementation. 

**Open Question:**

1. When Max Frag Length < server certificate message length, how should we handle?
2. define `S2N_TLS_MAXIMUM_RECORD_LENGTH  as (S2N_TLS_MAXIMUM_FRAGMENT_LENGTH + S2N_TLS_RECORD_HEADER_LENGTH) = 16389 bytes` as we do today.
3. Before we read (decrypt) any messages in s2n_recv, S2N should check if the message meets the Max Frag Length requirement.
4. Implementation design of S2N client test for max fragmentation extension case.
5. Are [Dynamic Record Size case](https://github.com/awslabs/s2n/issues/2) and Max Frag Length Extension mutually exclusive? 


> Are Dynamic Record Size case and Max Frag Length Extension mutually exclusive?

I don't believe so. The gradual increase will just be bounded by the maximum we've negotiated.

> Before we read (decrypt) any messages in s2n_recv, S2N should check if the message meets the Max Frag Length requirement.

In server mode, does it hurt us at all to accept a record that has frag_len > max_frag_len? I don't see an obvious security issue with that and it may help interop with buggy clients. Just something to think about.

> When Max Frag Length < server certificate message length, how should we handle?

My vote is to ignore the extension. This extension is rarely supported. A sane client should already be prepared for the server to ignore it. If we honor the extension in this case, we would have to fragment the ServerCertificate handshake message. There are clients in the wild that choke when receiving fragmented handshake messages. I think forcing the client to do more buffering is the lesser of two evils.

> int s2n_connection_set_max_frag(struct s2n_connection *conn, unsigned char mfl_code);

How does this work for server mode? Am I only allowed to specify one max frag value I will support?



My interpretation of the RFC was to enforce fragmenting for handshake messages as well. It's unfortunate that some implementations fail to handle this case, but I think that is more of a problem for the client side than the server side. Clients requesting this extension are signaling the desire to have more message fragmentation, and are likely resource-constrained and have been thinking carefully about their RAM limits. I would think those clients are more likely able to handle arbitrary fragmentation. My guess is that it is actually more difficult for clients trying to send fragmented messages to servers that can handle larger records, and have not exhaustively tested cases with arbitrary fragmentation. In my opinion, if we only fragmented post-handshake on the server-side, we would only be half-implementing the extension and wouldn't meet the use case of many resource-constrained clients.

> int s2n_connection_set_max_frag(struct s2n_connection *conn, unsigned char mfl_code);
Would we want to set this parameter on a .connection-level or on a config-level? I had originally been thinking config


- Before we read (decrypt) any messages in s2n_recv, S2N should check if the message meets the Max Frag Length requirement.
> In server mode, does it hurt us at all to accept a record that has frag_len > max_frag_len? I don't see an obvious security issue with that and it may help interop with buggy clients. Just something to think about.

According to RFC6066, we MUST discard the message and send a "record_overflow"alert, without decrypting the message. 

RFC6066:
`This means that in this event a TLS record-layer peer receiving a TLS record-layer message larger than 805 bytes (if the negotiated length is 2^9=512) MUST discard the message and send a "record_overflow"alert, without decrypting the message.`


- int s2n_connection_set_max_frag(struct s2n_connection *conn, unsigned char mfl_code);
> How does this work for server mode? Am I only allowed to specify one max frag value I will support?

Based on RFC6066, Client requests one max frag value (s2n_client_hello_send), but it is unclear on the server side whether we can set server to accept specific set of max frag lengths or it is just on & off for the server where server has option to either 1. accept the requested max frag (if it is one of 4 in RFC) or 2. deny all and enforce the default.  Will do more research in this process and follow up on this.





> Clients requesting this extension are signaling the desire to have more message fragmentation, and are likely resource-constrained and have been thinking carefully about their RAM limits. I would think those clients are more likely able to handle arbitrary fragmentation. 

Great point! It intuitively makes sense that those implementations are more likely to think carefully about fragmentation. Do you have some insight into some of the clients we expect to interop with? I think it would give us solace to know that the major clients who support MaxFragmentLength also handle fragmentation.

> My interpretation of the RFC was to enforce fragmenting for handshake messages as well. It's unfortunate that some implementations fail to handle this case, but I think that is more of a problem for the client side than the server side. 
--SNIP--
In my opinion, if we only fragmented post-handshake on the server-side, we would only be half-implementing the extension and wouldn't meet the use case of many resource-constrained clients.

The tentative idea was to skip the max frag extension in this case. In this worst case, the client will receive the same experience they have today with s2n and most other TLS implementations(~8k max outgoing frag for s2n by default, ~16k for other libraries). I'm not suggesting that we honor the extension and then apply it selectively. I'm assuming(could be wrong) that the clients offering MaximumFragmentLength must already be prepared to talk to a server that does not support the extension(since most TLS libraries do not support it).

> My guess is that it is actually more difficult for clients trying to send fragmented messages to servers that can handle larger records, and have not exhaustively tested cases with arbitrary fragmentation.

Possibly, but it's unlikely clients will need to fragment handshake records unless we're using mutual auth. Shows one of the big shortcomings of this extension. Ideally we would be able to negotiate the client_send_max_fragment_length and server_send_max_fragment_length independently.




I think I'm following what you mean about "skipping the extension" and could see how it would reduce some of the complexity needed to handle handshake message fragmentation. The logic to determine that will have to come early in the handshake (during the server hello). I think the server will have the information needed at that point since it will know the length of the cert chains that it has been configured with, ciphersuite selected, etc. I may be missing other factors that could influence the length of handshake messages though. As long as we don't half-implement the extension, I think I'm fine with whichever way makes the implementation easier for now.

As for which clients we will need to be able to support, I'm hoping the s2n client is able to properly support fragmentation =) And in theory, even without the extension, you could have to deal with fragmentation at the record layer. I think we already have a [test](https://github.com/awslabs/s2n/blob/master/tests/unit/s2n_fragmentation_coalescing_test.c) for this behavior.

Recap on offline discussions + update on my implementation approach for the initial handshake operation:

**s2n_config.c**
`int s2n_config_set_extension_data(struct s2n_config *config, s2n_tls_extension_type type, const uint8_t *data, uint32_t length)
`
Rather than adding new API, we can utilize the existing API by adding a case for `S2N_EXTENSION_MAX_FRAGMENT_LENGTH` to set max frag length at the `s2n_config config->mfl_code` level as @alexeblee suggested. 

Handshake operations:
`int s2n_client_extensions_send(struct s2n_connection *conn, struct s2n_stuffer *out)
`
- checks for conn->config->mfl_code and set in s2n_stuffer &out 

`s2n_client_extensions_recv`
- add case for TLS_EXTENSION_MAX_FRAGMENT_LENGTH
- calls `s2n_recv_client_max_frag_len(struct s2n_connection *conn, struct s2n_stuffer *extension)`
- s2n_recv_client_max_frag_len checks if the mfl_code received is the valid code in mfl_code_to_length (defined in above comments)
- If mfl_code is invalid (a value other than the allowed values), it MUST abort the handshake with an "illegal_parameter" alert. [RFC 6066]
- if mfl_code is valid, set max frag len in connection, conn->max_flag_len. 

`s2n_server_extensions_send`
- checks for conn->max_flag_len, if present, add negotiated max_frag_len to the extension.

`s2n_server_extensions_recv`
- add case for TLS_EXTENSION_MAX_FRAGMENT_LENGTH
- calls `s2n_recv_server_max_frag_len(struct s2n_connection *conn, struct s2n_stuffer *extension)`
- s2n_recv_server_max_frag_len checks if the max_frag_len included in the extension is same as the requested config->mfl_code value. 
- if differs from the length it requested, it MUST also abort the handshake with an "illegal_parameter" alert. [RFC 6066]


Implementation to ensure of max fragmentation length in outgoing & incoming fragments to follow in next comments..

> When Max Frag Length < server certificate message length, how should we handle?

- Enforce max frag for handshake messages at `s2n_server_extensions_recv`
- Check s2n_stuffer *in = &conn->header_in;
- Get fragment_length of handshake message by GUARD(s2n_stuffer_read_uint16(in, fragment_length));
- **If fragment_length > max_flag_len, skip max frag set and use default**

> Ensuring max frag len in s2n_send:
- At send, frag length is currently checked by s2n_record_max_write_payload_size with conn->max_outgoing_fragment_length. 
- when extension is set, conn->max_flag_len will be used instead of conn->max_outgoing_fragment_length

> Ensuring max frag len in s2n_recv:
- Currently s2n do not check on incoming fragment sizes. on-wire limit is 65k.
- s2n_record_header_parse will check for 
- If fragment_length > (the value of conn->mfl_code), server "MUST discard the message and send a "record_overflow" alert, without decrypting the message." [RFC6066]
- **implementation of check at recv is up for discussion as this does not bring clear value in enforcing the limit.** 

Updates on the difference between what is proposed on this issue vs. the Pull Request #548 

- Added new API: ` int s2n_config_set_max_fragment_length(struct s2n_config *config, uint8_t mfl_code);`

- We have decided that s2n will not check on incoming fragment sizes. on-wire limit is 65k.

- fragment length check on handshake messages is not implemented in this PR. 

- If mfl_code is invalid (a value other than the allowed values), the server will ignore the request and use the default length & raise S2N_ERROR(S2N_ERR_INVALID_MAX_FRAG_LEN)

- if the client receives a max fragment length that does not match what it requested, it will raise S2N_ERROR(S2N_ERR_MAX_FRAG_LEN_MISMATCH)





Maximum Fragment Length Extension Changes has been merged.

Updates on differences:

1. If mfl_code requested is invalid (a value other than the allowed values), the server will ignore the request and use the default length & continue the TLS handshake (NOT raise S2N_ERROR)
2. Two APIs have been added:
```
int s2n_config_send_max_fragment_length(struct s2n_config *config, s2n_max_frag_len mfl_code);
int s2n_config_accept_max_fragment_length(struct s2n_config *config);
```
3. This implementation fragments handshake messages to requested length

Thank you all spending you time to resolve this issue! It's an important feature for many IoT use cases with constraint devices.

Best,
Christian